@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Space+Grotesk:wght@500;700&display=swap');


body {
    background-color: #151515;
    font-family: 'Oswald', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    color: #FFFFFF;
}


h1,
h2,
h4,
h5,
hr {

    color: #FFFFFF;
}

h1 {
    font-size: 88px;
    letter-spacing: -2.5px;

}

h2 {
    font-size: 48px;
    letter-spacing: -1.5px;
}

#logo {
    float: left;
    font-size: 280%;
}

#logo,
#social {
    line-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* social media links */

#social li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}


/* hero image */
#hero-image {
    height: 100vh;

    background: url('../images/image-profile-tablet.webp') no-repeat right;
}